@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

* {

    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', georgia, serif;
    }

p{
    font-family: 'Hind Guntur', arial, sans-serif;
}

/* header formatting */

header{
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
    height: 150px;
}

#website-title{
    letter-spacing: 0.5em;
    flex-grow: 1;   /*allows to stretch the element between left-logo and righ-nav */
    text-align: center;
    line-height: 75px;
    font-weight: bolder;
    color: white;
    }

nav li{
    display: inline;
}

nav a{
    letter-spacing: 0.2em;
    
    color: white;
    padding-right: 15px;
    text-decoration: none;
}

.hero-video {
    position: absolute;
    right:0;
    bottom:0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
}

nav{
    background-color: black;
    padding: 20px;
    margin-right: 2px;
}
