@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap');

/* === override default browser margins === */
*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*tell broswer to account for any border and padding in specified element's width */
}

header{
    background-color: rgba(0, 0, 0, 0);
}

a,  a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

a:hover {
    border-bottom: 1px solid black;
}

body{
    font-family: 'Hind Guntur', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Libre Baskerville', serif;
}


/* ============================================================================
    HEADER ELEMENT STYLE
===============================================================================*/

.header-outer{                      /* styling parent element to have three flex containers inside it */
    background-color: rgba(0, 0, 0, 0);
    display: flex; 
    flex-wrap: wrap;                /* allows nav menu and heading to flex and arrange vertically for small screen */
    gap:1em                         /* sets margin between elements */
}

img{                              /* 1of3 flex containder div */
                                   /* scale the image, preseves aspect ratio */
    height: 150px;                  /* hard coded value, media query must be written */
    width: 150px;                   
}

.website-title{                     /* 2of3 flex container inside div */
    font-size: clamp(1em,1.5vw,300%); /*responsive design, hard coded min value for small screen,
                                        relative value for inbetween screen, relative to viewport,
                                        max value limit for ultra wide screen */
    flex-grow: 1;
    margin: auto;                   /*centers the title*/
    color: #725007;         
}

.nav-wrapper{                       /* 3of3 flex container inside div */
    margin:auto;  
    padding-right: 20px;
    padding-left: 20px;                  /* centers its child element i.e. nav bar horizontally */
}
nav #menu{      
    display: flex;                  /* to arrange it horizontally */
    color: #725007;
}

#menu li {
    letter-spacing: 0.2em;          /* slightly spread out the letters */
    list-style: none;               /* removes the bullet point marks */
    padding: 5px;
}

#menu a{
    text-decoration: none;          /* removes blue hyperlink look from text decoration */
}

@media all and (max-width:320px) {  /* testing for practically smallest screen iphone 5s */

    .header-outer{
        flex-direction: column;
    }

    img{
        margin:auto;                /* centers the div containg logo */
        width: 50px;
        height: 50px;
    }
}

/* ============================================================================
    Contact-US page elements style
===============================================================================*/

body{
    width: 100%;    /*use 100% instead of 100vw as it includes scrollbar */
    height: 100vh;  /* this feature along with height 100% in .container pushes the footer out of viewport-good asthetics */
}
.container{
    position: relative; /* to accomodate child elements with absolute positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;

    background-image: url(../images/pexels-jessica-lewis-creative-606540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100%;
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left{
    height:100%;
    background-image: url(../images/pexels-v-shahbaz-ansari-13063312.jpg);
    background-size: cover;
    overflow: hidden;
}

.right{
    padding:20px 40px;
    background-color: beige;

}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2::after{      /*allows to add html elements from css script */
    content:'';
    position:absolute;
    left: 50%;  /* this is the position of the entire element , which is different from margin-left */
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #000000;
}

.field{
    width: 100%;
    padding:0.5rem 1rem;
    outline:none;
    border: 2px solid rbga(0,0,0,0);
    background-color: rgba(230,230,230,0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.label{
    width: 100%;
    padding:0.5rem 1rem;
    outline:none;
    border: 2px solid rbga(0,0,0,0);
    
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rbga(0,0,0,0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.4);
}

input, textarea, button {           /* to override the default behaviour of non-inheritance */
    font-family: inherit;
    font-size: inherit;
 }

 textarea{              /* enables vertical scrolling and prevents resizing */
    overflow-y:auto;
    resize: none;
    min-height: 150px;
 }

 .btn{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #79B851;
    cursor: pointer;
    outline: none;
    border:none;
 }

 .btn:hover{
    background-color: darkgreen;
 }

 @media screen and (max-width: 880px){
    .container{
        padding: 0px 0px;
    }
    
    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        height:100px;
    }
 }

 /* ============================================================================
    footer element style
===============================================================================*/
.footer-outer{
    display: flex;          /*container for 3 child flex elements */
    flex-direction: row;
    flex-wrap: wrap;

    font-size: clamp(12px,1.05vw,16px); /*responsive text design */  
    
    padding:10px;

    background-color:white;

}


.footer-outer div{
    margin:auto;    /*aligns child divs content vertically */
    text-align: center; /*aligns the text in center for all layout within a div */
}

.footer-outer li{
    list-style: none;   /*removes bullet points */
    text-decoration: none;
    color: inherit;
}

.social-media ul{
    display: flex;
    min-width: 180px;
    font-size: clamp(20px,1.05vw,16px);
    justify-content: space-between;
}

.contact-details{
    flex-grow: 1;   /*to keep the center element reponsive */
    text-align: center; /* targets the text in the child element and aligns in center */
}

@media  screen and (max-width:600px) {
    .footer-outer{
        flex-direction: column;
    }

    .footer-outer div{
        padding-top: 10px;
    }
}

/* ============================================================================
   Index page style
===============================================================================*/

.container-main{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    grid-template-areas:
    "main main main main"
    "awards restaurant-photos testimonials coming-soon";
    grid-gap: 5px ;
    background-image: url("../images/pexels-karolina-grabowska-4199098.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;   /* this is important to avoid any weired horizontal scrollbars */

    text-align: center;
    margin: auto;
}

.main, .awards, .restaurant-photos, .testimonials, .coming-soon{
    background-color: rgba(0,0,0,.5);   /*setting bg with 50% opacity */
    color: white;
    font-weight: bolder;
    padding: 5px;
}

/* connecting grid area tags with id class */ 
.main{
    grid-area:main;
}

.awards {
    grid-area: awards;
}

.restaurant-photos {
    grid-area: restaurant-photos;
}

.testimonials {
    grid-area: testimonials;
}

.coming-soon {
    grid-area: coming-soon;
}

/* About us section */

.about-us-heading{
    float:right;
    width: 40vw;
    height: auto;
    background-color: #725007;
    position: absolute;
    right: 0px;
    vertical-align: middle;
}

.about-us-heading h1{
    font-size: clamp(20px,1.5vw,30px);
}

#tagline{
    vertical-align: middle;
}

em{
    font-size: 10vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*--Animation for restaurant photos --*/

.slider-restaurant-photos{
    height: 90%;
    background-color: beige;
    animation: slide-restaurant-photos 20s infinite; 
}

@keyframes slide-restaurant-photos {
    25%{
        background: url("../images/restaurant1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    50%{
        background: url("../images/restaurant2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    75%{
        background: url("../images/restaurant3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    100%{
        background: url("../images/restaurant4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
}


/* ============================================================================
   Menu page style
===============================================================================*/
.grid-container{
    display: grid;
    
    grid-template-columns: 1fr 1fr; /*two columns */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; /* seven rows */

    grid-template-areas:    /*alternate left and right side menu */
    "food-description-1 food-image-1"
    "food-image-2 food-description-2"
    "food-description-3 food-image-3"
    "food-image-4 food-description-4"
    "food-description-5 food-image-5"
    "food-image-6 food-description-6"
    "food-description-7 food-image-7";
}

/*connecting template with name */

.food-description-1{ grid-area: food-description-1;}
.food-description-2{ grid-area: food-description-2;}
.food-description-3{ grid-area: food-description-3;}
.food-description-4{ grid-area: food-description-4;}
.food-description-5{ grid-area: food-description-5;}
.food-description-6{ grid-area: food-description-6;}
.food-description-7{ grid-area: food-description-7;}

.food-image-1{grid-area: food-image-1;}
.food-image-2{grid-area: food-image-2;}
.food-image-3{grid-area: food-image-3;}
.food-image-4{grid-area: food-image-4;}
.food-image-5{grid-area: food-image-5;}
.food-image-6{grid-area: food-image-6;}
.food-image-7{grid-area: food-image-7;}

.grid-container :nth-child(4n-3){    /*selects menu description on the left */
    text-align: end;
    padding: 5px;
    margin-top: auto;
}

.grid-container :nth-child(4n-1){    /*selects menu description on the right */
    
    padding: 5px;
    margin-top: auto;
}


.grid-container :nth-child(even){ /*selects the image*/
    background-color: #515bb8;
}